.navbar-user-image {
    max-height: 80px;
    min-height: 80px;
    width: auto;
    height: auto;
    max-width: 70px;
}
 #dropdown01{
    cursor: pointer;
 }


.search::before {
    content: 'haha';
}

.clear-button {
    background-color: white;
    border-left: none;
}

#search {
    border-right: none !important;
}