<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let p of people$">
        <a class="nav-link active my-auto" href="#">
          {{p.name}}
        </a>
      </li>
    </ul>
  </div>
</nav>