<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item" *ngFor="let p of people">
      <a class="nav-link" href="#">{{p.name}}</a>
    </li>
  </ul>
</nav>