<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <h6 class="nav-link d-flex align-items-center">
        Select User
      </h6>
      <li class="nav-item d-flex align-items-center" *ngFor="let p of people$">
        <a class="nav-link active" href="#">
          {{p.name}}
        </a>
      </li>
    </ul>
  </div>
</nav>