<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let p of people$">
        <a class="nav-link active" href="#">
          <span data-feather="home"></span>
          {{p.name}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>