<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <h5 class="nav-link sidebar-heading d-flex align-items-center">
        Select User
      </h5>
      <li class="nav-item d-flex align-items-center" *ngFor="let p of people">
        <a class="nav-link active" (click)="onClick(p)">
          {{p.name}}
         
         
        </a>
      </li>
    </ul>
  </div>
</nav>