<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let p of people$">
        <span class="sr-only">{{p.name}}</span>
      </li>
    </ul>
  </div>
</nav>