<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="input-group col-md-4">
      <form class="form-inline my-2 my-lg-0" #form="ngForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input #search (keyup)="filtering(search)" (keyup.enter)="onEnter(search.value)" name="search" id="search" type="text" class="form-control"
            type="text" placeholder="Search">
          <div class="input-group-append" *ngIf="search.value">
            <span class="input-group-text clear-button">
              <button (click)="search.reset()" class="btn btn-default circle">x</button>
            </span>
          </div>
  
        </div>
      </form>
    </div>
  
  
    <button (click)="isCollapse = !isCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div *ngIf="person?.name" class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
      <ul class="navbar-nav ml-auto">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{person?.name}}
            <img class="img-thumbnail navbar-user-image" src="{{person?.img}}" alt="">
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>