<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>



  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto ml-5">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Username
        </a>
        <img class="img" src="http://www.gstatic.com/tv/thumb/persons/983712/983712_v9_ba.jpg"></img>
        <div (click)="isCollapse = !isCollapse" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <ng-container *ngIf="appUser.isAdmin" (click)="isCollapse = !isCollapse">
            <a class="dropdown-item" routerLink="admin/orders">Edit Profile</a>
            <a class="dropdown-item" routerLink="admin/products"></a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </ng-container>



        </div>
      </li>
    </ul>

  </div>
</nav>