.navbar {
    height: auto;
    max-height: 100px;
}

.navbar-user-image {
    height: auto;
    max-height: 80px;
    width: auto;
}

.search::before {
    content: 'haha';
}

.clear-button {
    background-color: white;
}

.circle {

}

#search {
    border-right: none !important;
}