<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="input-group col-md-4">
    <form (ngSubmit)="save(form.value)" #form="ngForm" class="mx-auto" autocomplete="off">

        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
      <!-- <input #search class="form-control py-2" type="search" placeholder="Search" id="example-search-input"> -->

    </form>
  </div>


  <button (click)="isCollapse = !isCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
    <ul class="navbar-nav ml-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username
          <img class="navbar-user-image" src="http://www.gstatic.com/tv/thumb/persons/983712/983712_v9_ba.jpg" alt="">
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>