<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">


  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapse = !isCollapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline mt-2 mt-md-0">
    <input class="form-control ml-sm-2" type="text" placeholder="Search">
  </form>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="isCollapse = !isCollapse" routerLinkActive="active current" routerLink="/shopping-cart">Shopping Cart</a>
      </li>

     
      <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ appUser.name }}
        </a>
        <div (click)="isCollapse = !isCollapse" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="my/orders">My orders</a>

          <ng-container *ngIf="appUser.isAdmin" (click)="isCollapse = !isCollapse">
            <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="admin/products">Manage Products</a>
          </ng-container>

          <a class="dropdown-item" (click)="logout()">Logout</a>

        </div>
      </li>
    </ul>

    <!-- <button *ngIf="!isCollapse" class="shopping-cart"><mat-icon >shopping_cart</mat-icon></button>
        <button *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-outline-success my-2 my-sm-0" >Login</button> -->
    <!-- <button *ngIf="isLoggedIn" (click)="isLoggedIn = !isLoggedIn" class="btn btn-outline-success my-2 my-sm-0" >Logout</button> -->

  </div>
</nav>