.navbar {
    height: auto;
    max-height: 100px;
}

.navbar-user-image {
    height: auto;
    max-height: 80px;
    width: auto;
}

.search::before {
    content: 'haha';
}

.clear-button {
    background-color: white;
}



.circle {
    background-color: white;
    font-size: 20px;
    padding: 0px 7px 1px 6px;
    border-radius: 100%;
}

.circle:hover{
    background-color: gray;
    padding: 0px 7px 1px 6px;
    border-radius: 100%;
    font-size: 20px;
}


#search {
    border-right: none !important;
}