<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
    <ul class="navbar-nav ml-auto">
      <li ngbDropdown class="nav-item dropdown">
        <img ngbDropdownToggle src='https://www.google.com.ph/imgres?imgurl=http://www.gstatic.com/tv/thumb/persons/983712/983712_v9_ba.jpg&imgrefurl=http://google.com/search?tbm%3Disch%26q%3DLionel%2520Messi&h=1440&w=1080&tbnid=pO8QzEHI4goW4M:&q=messi&tbnh=186&tbnw=139&usg=__GQ8OLxudbnhJpLQa99AGWqc75tc%3D&vet=10ahUKEwjB_aOK0ITcAhWLFYgKHVWLAtQQ_B0I2AEwFw..i&docid=gxg9R7z-_FL_8M&itg=1&sa=X&ved=0ahUKEwjB_aOK0ITcAhWLFYgKHVWLAtQQ_B0I2AEwFw' class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Username


        <div (click)="isCollapse = !isCollapse" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <ng-container (click)="isCollapse = !isCollapse">
            <a class="dropdown-item" routerLink="admin/orders">Change Profile</a>
            <a class="dropdown-item" routerLink="admin/products">Logout</a>
          </ng-container>



        </div>
      </li>
    </ul>


  </div>
</nav>