.navbar {
    height: auto;
    max-height: 100px;
}

.navbar-user-image {
    height: auto;
    max-height: 80px;
    width: auto;
}

.search::before {
    content: 'haha';
}

.clear-button {
    background-color: #fff;
    border: 1px solid red;
    border-radius: 100%;
}

.input-group-text {
    background-color: white;
}

#search {
    border-right: none !important;
}