.navbar-user-image {
    max-height: 80px;
    min-height: 80px;
    width: auto;
    height: auto;
    max-width: 70px;
}

.search::before {
    content: 'haha';
}

.clear-button {
    background-color: white;
}

.circle {
    background-color: white;
    font-size: 20px;
    padding: 0px 7px 1px 6px;
    border-radius: 100%;
 
}

.circle:hover {
    background-color: gray;
    padding: 0px 7px 1px 6px;
    border-radius: 100%;
    font-size: 20px;
}

#search {
    border-right: none !important;
}