<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="isCollapse = !isCollapse" routerLinkActive="active current" routerLink="/shopping-cart">Shopping Cart</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Username
        </a>
        <img [src]="" atl="User image">
        <img>
        <div (click)="isCollapse = !isCollapse" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <ng-container (click)="isCollapse = !isCollapse">
            <a class="dropdown-item" routerLink="admin/orders">Change Profile</a>
            <a class="dropdown-item" routerLink="admin/products">Logout</a>
          </ng-container>



        </div>
      </li>
    </ul>


  </div>
</nav>