<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="input-group col-md-4">
      <form (ngSubmit)="save(form.value)" #form="ngForm" class="mx-auto" autocomplete="off">
          <div class="form-group">
            <label for="title">Title</label>
            <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
              Title is Required
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&#8369;</span>
              </div>
              <input #price="ngModel" [(ngModel)]="product.price" required digits [min]="0" name="price" type="text" class="form-control"
                aria-label="Amount (to the nearest dollar)">
            </div>
            <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
              <div *ngIf="price.errors.required">Price is Required</div>
              <div *ngIf="price.errors.min">Price should be zero or higher</div>
              <div *ngIf="price.errors.digits">Price should be a n umber</div>
    
            </div>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select #category="ngModel" [(ngModel)]="product.category" required name="category" id="category" class="form-control">
              <option value=""></option>
              <option *ngFor="let c of categories$ | async" [value]="c.key"> {{c?.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
              Category is required
            </div>
          </div>
    
          <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" required url name="imageUrl" id="imageUrl" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
              <div *ngIf="imageUrl.errors.required">ImageUrl is Required</div>
              <div *ngIf="imageUrl.errors.url">ImageUrl is Required</div>
            </div>
          </div>
    
          <button class="btn btn-primary mr-3" *ngIf="!id" [disabled]="!form.valid">Save</button>
          <button class="btn btn-primary  mr-3" *ngIf="id" [disabled]="!form.valid">Update</button>
          <button (click)="delete()" *ngIf="id" class="btn btn-danger" type="button">Delete</button>
    
        </form>
  </div>


  <button (click)="isCollapse = !isCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
    <ul class="navbar-nav ml-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username
          <img class="navbar-user-image" src="http://www.gstatic.com/tv/thumb/persons/983712/983712_v9_ba.jpg" alt="">
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>