.navbar {
    height: auto;
    max-height: 100px;
}

.navbar-user-image {
    height: auto;
    max-height: 80px;
    width: auto;
}

.search::before {
    content: 'haha';
}

.input-group-append {
    border-right:.25rem;
}

.clear-button {
    background-color: white;
    border: 1px black solid;
    border-radius: 100%;
}

#search {
    border-right: none !important;
}