<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="input-group col-md-4">

    <div class="input-group">
      <div class="form-group has-feedback has-clear">
        <input type="text" class="form-control" id="exampleInput1" placeholder="Enter text here">
        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
      </div>
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" id="exampleButton1">Search</button>
      </span>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0" #form="ngForm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-search"></i>
          </span>
        </div> -->


    <!-- <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" type="text" placeholder="Search">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->

    <!-- </div>
    </form> -->



  </div>


  <button (click)="isCollapse = !isCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
    <ul class="navbar-nav ml-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username
          <img class="navbar-user-image" src="http://www.gstatic.com/tv/thumb/persons/983712/983712_v9_ba.jpg" alt="">
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>