<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="isCollapse = !isCollapse" routerLinkActive="active current" routerLink="/shopping-cart">Shopping Cart</a>
        </li>
  
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" (click)="isCollapse = !isCollapse">Login</a>
          </li>
        </ng-template>
        
       
        <li ngbDropdown  *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ appUser.name }}
          </a>
          <div  (click)="isCollapse = !isCollapse" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="my/orders">My orders</a>
            
            <ng-container *ngIf="appUser.isAdmin" (click)="isCollapse = !isCollapse">
              <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
              <a class="dropdown-item" routerLink="admin/products">Manage Products</a>
            </ng-container>
            
          <a class="dropdown-item" (click)="logout()">Logout</a>
         
          </div>
        </li>
      </ul>
  
       
    </div>
</nav>