<div class="card" *ngIf="person">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top profile-picture" src="{{person?.img}}" alt="Card image cap">
    </div>
    <div class="col-3 mr-auto">
      <button class="btn btn-default message-button">Send Message</button>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
          </span>
          <i class="fa fa-star"></i>
        </span>
      </ng-template>

      <ngb-rating rate="{{person?.rating}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">{{person?.Description}}</p>
  </div>

  <ul class="list-group list-group-flush">
    <div class="row">
      <div class="col-md-6" style="padding-left: 15px; padding-right: 0">
        <table class="table">
          <thead>
            <tr>
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of person.Likes">
              <td> {{l}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" style="padding-right: 15px; padding-right: 0">
        <table class="table ">
          <thead>
            <tr>
              <th>DisLikes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of person.Disikes ">
              <td> {{l}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ul>

</div>