<div class="card h-75" *ngIf="person?.name">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top profile-picture" src="{{person?.img}}" alt="Card image cap">
    </div>
    <div class="col-3 mr-auto">
      <button class="btn btn-default message-button">Send Message</button>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
          </span>
          <i class="fa fa-star"></i>
        </span>
      </ng-template>

      <ngb-rating rate="{{person?.rating}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">{{person?.Description}}</p>
  </div>

  <div class="list-group list-group-flush">
    <div class="row">
      <div class="col-6" style="padding-left: 15px; padding-right:0">
        <div class="card-header font-weight-bold">Likes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let l of person?.Likes">{{l}}</li>
        </ul>
      </div>

      <div class="col-6" style="padding-right: 15px; padding-left:0">
        <div class=" card-header font-weight-bold">Dislikes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item " *ngFor="let l of person?.Dislikes">{{l}}</li>

        </ul>
      </div>

    </div>


  </div>

</div>