<div class="card" *ngIf="person?.name">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top profile-picture" src="{{person?.img}}" alt="Card image cap">
    </div>
    <div class="col-3 mr-auto">
      <button class="btn btn-default message-button">Send Message</button>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
          </span>
          <i class="fa fa-star"></i>
        </span>
      </ng-template>

      <ngb-rating rate="{{person?.rating}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">{{person?.Description}}</p>
  </div>

  <div class="list-group list-group-flush" style="padding: 0">
    <div class="row">
      
        <table class="table table-hover" >
          <thead>
            <tr class="table-secondary">
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of person.Likes">
              <td> {{l}}</td>
            </tr>
          </tbody>
        </table>
      
      
        <table class="table table-hover">
          <thead>
            <tr class="table-secondary">
              <th>DisLikes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dl of person.Dislikes ">
              <td> {{dl}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    

  </div>

</div>