<div class="input-group">
  <div class="form-group has-feedback has-clear">
    <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" type="text" placeholder="Search">
    <span *ngIf="title.value" class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden">x</span>
  </div>
  <span class="input-group-btn">
    <button type="button" class="btn btn-primary" id="exampleButton1">Search</button>
  </span>
</div>