.profile-picture{
    max-width: 200px;
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
}

.message-button{
    width: 200px;
    height: 100px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }