.profile-picture{
    max-width: 300px;
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
}

.message-button{
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    height: 100px;
}