<div class="row flex-sm-row-reverse">
    <div class="col-md-6 order-2">
      <form (ngSubmit)="save(form.value)" #form="ngForm" class="mx-auto" autocomplete="off">
        <div class="form-group">
          <label for="title">Title</label>
          <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is Required
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">&#8369;</span>
            </div>
            <input #price="ngModel" [(ngModel)]="product.price" required digits [min]="0" name="price" type="text" class="form-control"
              aria-label="Amount (to the nearest dollar)">
          </div>
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required">Price is Required</div>
            <div *ngIf="price.errors.min">Price should be zero or higher</div>
            <div *ngIf="price.errors.digits">Price should be a n umber</div>
  
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select #category="ngModel" [(ngModel)]="product.category" required name="category" id="category" class="form-control">
            <option value=""></option>
            <option *ngFor="let c of categories$ | async" [value]="c.key"> {{c?.name}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required
          </div>
        </div>
  
        <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" required url name="imageUrl" id="imageUrl" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
            <div *ngIf="imageUrl.errors.required">ImageUrl is Required</div>
            <div *ngIf="imageUrl.errors.url">ImageUrl is Required</div>
          </div>
        </div>
  
        <button class="btn btn-primary mr-3" *ngIf="!id" [disabled]="!form.valid">Save</button>
        <button class="btn btn-primary  mr-3" *ngIf="id" [disabled]="!form.valid">Update</button>
        <button (click)="delete()" *ngIf="id" class="btn btn-danger" type="button">Delete</button>
  
      </form>
    </div>
  
  
    <div class="col-md-6 order-1 mb-4 ">
      <product-card [product]="product" [show-actions]="false"></product-card>
    </div>
  </div>