<div class="row">
  <div class="col-md-3" style="background-color: yellow">
    <sidebar></sidebar>
  </div>
  <div class="col-md" style="background-color: black">
    <div class="card-body d-flex flex-column align-items-start">
    
      <h3 class="mb-0">
        <a class="text-dark" href="#">Featured post</a>
      </h3>
      <div class="mb-1 text-muted">Nov 12</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      <a href="#">Continue reading</a>
    </div>
    <img class="card-img-right flex-auto d-none d-md-block" src="http://www.gstatic.com/tv/thumb/persons/983712/983712_v9_ba.jpg"
      alt="Card image cap">

      <form #form="ngForm" class="mx-auto" autocomplete="off">
          <div class="form-group">
            <label for="title">Title</label>
            <input #title name="title" id="title" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="title.touched">
              Title is Required
            </div>
          </div>
        </form>

  </div>