<div class="col-md" style="background-color: black">

  <form (ngSubmit)="save(form.value)" #form="ngForm" class="mx-auto" autocomplete="off">
    <div class="form-group">
      <label for="title">Title</label>
      <input #title name="title" id="title" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
        Title is Required
      </div>
    </div>




    <button class="btn btn-primary mr-3">Save</button>
    <button class="btn btn-primary  mr-3">Update</button>


  </form>