<div class="card" *ngIf="person">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top profile-picture" src="{{person?.img}}" alt="Card image cap">
    </div>
    <div class="col-3 mr-auto">
      <button class="btn btn-default w-100 h-50">Send Message</button>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
          </span>
          <i class="fa fa-star"></i>
        </span>
      </ng-template>

      <ngb-rating rate="{{person?.rating}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">{{person?.Description}}</p>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of filteredProducts">
          <td>{{p.title}}</td>
          <td>{{p.category}}</td>
          <td>{{p.price | currency: '&#8369;':'symbol'}}</td>
          <td>
            <a [routerLink]="['/admin/products/', p.key]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>