<div class="card">
  <img *ngIf="product.imageUrl" class="card-img-top mx-auto" [src]="product.imageUrl" alt="{{product.title}}">

  <div class="card-footer ">
    <small class="text-muted">{{ product.title}}</small>
    <p class="">{{ product.price | currency: '&#8369;': 'symbol'}}</p>
    <a *ngIf="showActions " class="btn btn-primary btn-block ">Add to Cart</a>
  </div>
</div>