<div class="row">
  <div class="col-md-3" style="background-color: yellow">
    <sidebar></sidebar>
  </div>
  <div class="col-md" style="background-color: black">

    <form (ngSubmit)="save(form.value)" #form="ngForm" class="mx-auto" autocomplete="off">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" name="title" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is Required
        </div>
      </div>
    </form>

  </div>