.profile-picture {
    max-width: 200px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.message-button {
    width: 200px;
    height: 100px;
}
.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: #1e90ff;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }
/* .star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
}

.full {
    color: orange;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
} */

