.profile-picture {
    max-width: 200px;
    max-height: 150px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.message-button {
    width: 150px;
    height: 70px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
}

.full {
    color: orange;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
}

.table {
    margin-bottom: 0;
    padding-bottom: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}