<div class="card">
  <div class="row">
    <div class="col-3">
      <p>NAME: {{person?.name}}</p>
      <img class="card-img-top profile-picture" src="{{person?.img}}" alt="Card image cap">
    </div>
    <div class="col-3 mr-auto">
      <button class="btn btn-default w-100 h-50">Send Message</button>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
          </span>
          <i class="fa fa-star"></i>
        </span>
      </ng-template>
      <ngb-rating rate="rate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>