<div class="col-md-6 order-2">
  <form #form="ngForm" class="mx-auto" autocomplete="off">
    <div class="form-group">
      <label for="title">Title</label>
      <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="title.touched">
        Title is Required
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">&#8369;</span>
        </div>
        <input #price="ngModel" [(ngModel)]="product.price" required digits [min]="0" name="price" type="text" class="form-control"
          aria-label="Amount (to the nearest dollar)">
      </div>
      <div class="alert alert-danger" *ngIf="price.touched">
        <div *ngIf="price.errors.required">Price is Required</div>
        <div *ngIf="price.errors.min">Price should be zero or higher</div>
        <div *ngIf="price.errors.digits">Price should be a n umber</div>

      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select #category required name="category" id="category" class="form-control">
        <option value=""></option>
        <option *ngFor="let c of categories$ | async" [value]="c.key"> {{c?.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="category.touched">
        Category is required
      </div>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image Url</label>
      <input #imageUrl required url name="imageUrl" id="imageUrl" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="imageUrl.touched">
        <div *ngIf="imageUrl.errors.required">ImageUrl is Required</div>
        <div *ngIf="imageUrl.errors.url">ImageUrl is Required</div>
      </div>
    </div>

    <button class="btn btn-primary mr-3">Save</button>
    <button class="btn btn-primary  mr-3">Update</button>


  </form>
</div>