<navbar [person]="person" (change)="onChanged($event)" (filter)="onFilter($event)"></navbar>

<div class="row">
  <div class="col-3">
    <!-- <sidebar [people]="people$" (change)="onChanged($event)"></sidebar> -->
    <sidebar *ngIf="filteredPeople" [people]="filteredPerson" (change)="onChanged($event)"></sidebar>
  </div>
  <div class=" col-6 mx-auto " style="width: 100% ">
    <profile [person]="person " (change)="onChanged($event) "></profile>
  </div>
</div>