<navbar [person]="person" (change)="onChanged($event)" (filter)="onFilter($event)" (choosePerson)="onChoosePerson($event)"></navbar>

<div class="row">
  <div class="col-3">
    <sidebar [people]="filteredPerson" (change)="onChanged($event)"></sidebar>
  </div>
  <div class=" col-6 mx-auto " style="width: 100% ">
    <profile [person]="person" (change)="onChanged($event)"></profile>
    <profile *ngIf="choosePerson" [person]="choosePerson" (change)="onChanged($event)"></profile>
  </div>
</div>